@import-normalize;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  height: 100%;
}

#root {
  height: 100%;
}

@media only screen and (max-width: 120rem) {
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: 76.8rem) {
  html {
    font-size: 40%;

  }
}

@media only screen and (max-width: 48rem) {
  html {
    font-size: 30%;

  }
}